                                                                            
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:160px 8%; 
    color: white;
    font-family: 'Poppins', sans-serif;
}

.left{
    width: 45%;
    position: relative;
    top: -100px;     
}

.right{
    width: 41%;
    position: relative;
}

.right img{
    width: 100%;
    border-radius: 20px; 


    max-width: 500px;
    height: auto;
    object-fit: cover;
    
}

.left h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.left p{
    font-size: 30px;
    line-height: 1.8;
}

.left img {
    position: relative;
    margin-top: 60px;
    margin-left: 90%;
    max-width: 50%;
    height: auto;
}



/*respionsive banako */
@media (max-width: 992px){

    .about{
        flex-direction: column-reverse;
        text-align: center;
        padding: 140px 30px 80px;
        gap: 50px;
    }

.left{
    top: 0;
}


    .left,
    .right{
        width:100%;
    }

    .left h1{
        font-size:40px; 
    }

    .left p{
        font-size:20px;
        line-height:1.8;
    }

    .right img{
        max-width:350px;
        width:100%;
    }

    .left img{
        display:none;
    }

}




.about{

    animation:fadeUp 1s ease;
}

@keyframes fadeUp{

from{

opacity:0;
transform:translateY(50px);

}

to{

opacity:1;
transform:translateY(0);
}

}


