*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: #77B91D;
    display: flex;
    
    flex-direction: column;
      margin-top: 130px;
}

.forcenter{
    text-align:center;
    font-size:50px;
    margin-bottom:15px;
    color:white;
}

.container{
    width: 100%;
    padding: 35px 10%;
    
}

main.row{
    display: grid;
    grid-template-columns: 1fr ;
}

header.title{
    color: #77B91D;
    padding: 0px 0px 20px 30px;
}

.contents{
    padding: 0px 30px;
    border-left: 2px solid #4b4b4b;
}

.box{
    position: relative;
    width: 100%;
    border: 1px solid #4b4b4b;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 20px;   
}

.contents .box:hover{
   
    transform:translateY(-10px);

    border-color:#77B91D;

    box-shadow:0 15px 40px rgba(119,185,29,.35);
}

.contents .box::before{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 22px);
    top: 0;
    background-color: #77B91D;
    border: 2px solid white;
}

.box h4{
    position:relative ;
     color: #77B91D;
}

h3{
    color: #FFFFFF;
    font-size: 20px;
    padding: 10px 0px 6px;
    font-family: Arial, Helvetica, sans-serif    ;
    margin-bottom: -5px;
}

p{
    color: #FFFFFF;
    line-height: 1.2;
    font-size: 17px;
}

#namepart{
    color: #FFFFFF;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif    ;
}



