.skills{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 180px 70px;
    color: white;
}



h1{
    text-align: center;
}

.fa-brands:hover{
box-shadow: 0px 3px 12px 0px #ccc;
    border: 1px solid transparent;
    
}

.fa-brands{
    padding: 20px;
}

